@model phim2101.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .flex_user{
        display:flex;
        justify-content:center;
    }
    .w400px{
        width: 400px;
    }
    .w400px span{
        display:inline-block;
        padding: 10px 0;
    }
    .btn_margin a {
        margin: 0 5px;
        text-decoration: none;
        border-radius: 5px;
        background: #f6c23e;
        padding:7px;
    }
</style>
<div>
    <h4 style="text-align:center">Thông tin Khách Hàng</h4>
    <hr />
    <div class="flex_user">
        <div class="w400px">
            <span>
                Tên khách hàng: @Html.DisplayFor(model => model.TenKH)
            </span>
            <br />
            <span>
                Số điện thoại: @Html.DisplayFor(model => model.SDTKH)
            </span>
            <br /><span>
                Email: @Html.DisplayFor(model => model.Email)
            </span>
            <br />
            <span>
                Địa chỉ: @Html.DisplayFor(model => model.DiaChi)
            </span>
            <br />
            <span>
                Ngày sinh: @Html.DisplayFor(model => model.NgaySinh)
            </span>
            <br />
            <span>
                Tài khoản: @Html.DisplayNameFor(model => model.taikhoan)
            </span>
            <br />
            <span>
                Mật Khẩu: ********
                @* @Html.DisplayFor(model => model.matkhau)*@
            </span>
        </div>
    </div>
    
</div>
<div class="btn_margin" style="text-align:center; margin-top:10px">
    @Html.ActionLink("Trở về", "Index")
</div>
