@model IEnumerable<phim2101.Models.ChiTietHD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý vé</h2>
<table>
    <tr>
        <th>
            Tên Phòng
        </th>
        <th>
            Tên Phim
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Số ghế
        </th>
        <th>
            Suất chiếu
        </th>
    </tr>
    <tr>
        @foreach (var i in Model)
        {
            <td>
                @i.Ve.ChiTietPhong.PhongChieu.TenPhong
            </td>
            <td>
                @i.Ve.ChiTietPhong.Phim.TenPhim
            </td>
            <td>
                @i.Hoadon.KhachHang.TenKH
            </td>
            <td>
                @i.Ghe
            </td>
            <td>
                @i.Ve.ChiTietPhong.SuatChieu
            </td>
        }
    </tr>
</table>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #333333;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

